<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/me.jpg" alt="me profile">

<p>р╕кр╕▒р╕зр╕кр╕Фр╕╡ЁЯлбр╣Ар╕гр╕▓р╕Кр╕╖р╣Ир╕нр╣Ар╕нр╣Кр╕░? р╣Ар╕нр╣Кр╕░? р╕Щр╕▓р╕Зр╕кр╕▓р╕зр╕зр╕Кр╕┤р╕гр╕▓р╕ар╕гр╕Ур╣М р╕Хр╣Ир╕нр╕ир╕гр╕╡ р╕Ыр╕▒р╕Ир╕Ир╕╕р╕Ър╕▒р╕Щр╕Бр╕│р╕ер╕▒р╕Зр╕ир╕╢р╕Бр╕йр╕▓р╕нр╕вр╕╣р╣Ир╕Чр╕╡р╣Ир╕Др╕Ур╕░р╕зр╕┤р╕Чр╕вр╕▓р╕Бр╕▓р╕гр╕кр╕▓р╕гр╕кр╕Щр╣Ар╕Чр╕к р╕бр╕лр╕▓р╕зр╕┤р╕Чр╕вр╕▓р╕ер╕▒р╕вр╕Ър╕╣р╕гр╕Юр╕▓ р╕зр╕┤р╕Чр╕вр╕▓р╣Ар╕Вр╕Хр╕Ър╕▓р╕Зр╣Бр╕кр╕Щ р╕Ир╕▒р╕Зр╕лр╕зр╕▒р╕Фр╕Кр╕ер╕Ър╕╕р╕гр╕╡</p>
<p>р╣Ар╕Ыр╣Зр╕Щр╕Др╕Щр╕Чр╕╡р╣Ир╕Кр╕нр╕Ър╕Др╕зр╕▓р╕бр╣Ар╕гр╕╡р╕вр╕Ър╕Зр╣Ир╕▓р╕вр╣Бр╕ер╕░р╕гр╕▒р╕Бр╕Бр╕▓р╕гр╣Гр╕Кр╣Йр╣Ар╕зр╕ер╕▓р╣Др╕Ыр╕Бр╕▒р╕Ър╕кр╕┤р╣Ир╕Зр╕Чр╕╡р╣Ир╕Чр╕│р╣Гр╕лр╣Йр╕гр╕╣р╣Йр╕кр╕╢р╕Бр╕кр╕Зр╕Ър╣Бр╕ер╕░р╕Ьр╣Ир╕нр╕Щр╕Др╕ер╕▓р╕вр╣Бр╕ер╕░р╕Йр╕▒р╕Щр╕кр╕Щр╣Гр╕Ир╕Чр╕╡р╣Ир╕Ир╕░р╣Ар╕гр╕╡р╕вр╕Щр╕гр╕╣р╣Йр╣Бр╕ер╕░р╕Юр╕▒р╕Тр╕Щр╕▓р╕Хр╕▒р╕зр╣Ар╕нр╕Зр╕нр╕вр╕╣р╣Ир╣Ар╕кр╕бр╕н ЁЯМЯЁЯР╛</p>


  <%- include("partials/footer.ejs") %>