<!-- using ejs tags to save reapeted code -->
<%- include("partials/header.ejs") %>

  <h1>Home Page</h1>
  <img class="profile" src="images/sun.jpg" alt="">
  <p>Welcome to my website
  </p>
  <p>
   </p>

  <%- include("partials/footer.ejs") %>
